# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Data (keep folder, ignore contents)
data/raw/*
data/processed/*
data/curated/*

# Keep empty folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/curated/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/